*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px 10px;
}
#navUl{
  display: flex;
}
#navUl li{
  list-style: none;
  margin: 0 10px;
}
#navUl li a{
  text-decoration: none;
  color: black;
}
.footer-content{
  position: fixed;
  bottom: 0;
  height: 30vh;
  width: 100%;
  background-color: royalblue;
  
}