* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex:1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px 20px;
  position: relative; /* Drop-down placement ke liye zaruri hai */
}

#navUl {
  display: flex;
  gap: 50px;
}

#navUl li {
  list-style: none;
}

#navUl li a {
  text-decoration: none;
  color: black;
}

/* Desktop par hamburger button chupa rahega */
.nav-toggle {
  display: none;
}

.footer-content {
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  padding: 20px 0px;
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-content .footer-links {
  display: flex;
  list-style: none;
}

.footer-content .footer-links a {
  margin: 0 5px;
  text-decoration: none;
}